
@{
    ViewBag.Title = "PharmacistMenu";
}

<h2>Pharmacists Dashboard</h2>

<ul>
    <li>@Html.ActionLink("Add Drugs", "Create", "Inventory")</li>
    <li>@Html.ActionLink("View Drugs", "Index", "Inventory", new { context = "pharmacist-view-details" }, null)</li>
    <li>@Html.ActionLink("Update Stock", "Index", "Inventory", new { context = "pharmacist-update-stock" }, null)</li>
    <li>@Html.ActionLink("Issue Drugs", "IssueDrugs", "Prescription")</li>
    <li>@Html.ActionLink("View Daily Transaction Report", "Index", "Inventory", new { context = "pharmacist-view-details" }, null)</li>
</ul>

