@model List<PIMS.Models.RegisterDoctorViewModel>
@{
    ViewBag.Title = "DoctorReport";
}

<h2>Doctor Report</h2>
<hr />

<table id="doctors" class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().FirstName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Surname)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Gender)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ContactNumber)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().NIC)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Specialization)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ChannelFee)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ChannelStartTime)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().AverageChannelDuration)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().NumOfPatientsPerDay)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Room)
            </th>


        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ContactNumber)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NIC)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Specialization)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ChannelFee)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ChannelStartTime)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.AverageChannelDuration)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NumOfPatientsPerDay)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Room)
                </td>


            </tr>
        }
    </tbody>
    </table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#doctors").DataTable();
        })

    </script>


  }